:root {
  /* Font families */
  --font-family-sans: "IBM Plex Sans", "Segoe UI", sans-serif;
  --font-family-serif: "Libre Baskerville", Georgia, serif;

  --site-width: 1320px;
  --color-detail-shadow: 0 24px 48px rgba(0, 0, 0, 0.34);
}
